<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Academic Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Custom.css" />
    <link rel="stylesheet" href="~/Academic_Hub.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="parent-layout">
            <div id="sidePane" class="left-side-pane primary-background-color">
                    <ul class="left-pane-list">
                        <li class="pane-header pane-brand">
                            <a asp-controller="Home" asp-action="Index">
                                Academic Hub
                            </a>
                        </li>
                        <li class="pane-item">
                            <a asp-controller="Home" asp-action="Index">
                                Dashboard
                            </a>
                        </li>
                        <li class="pane-item">
                            <a asp-controller="Home" asp-action="Profile">
                                Profile
                            </a>
                        </li>
                        <li class="pane-item">
                            <a asp-controller="Home" asp-action="StudentProgress">
                                Student Progress
                            </a>
                        </li>
                        <li class="pane-item">
                            <a asp-controller="Meeting" asp-action="Index">
                                Meetings
                            </a>
                        </li>
                        <li class="pane-item">
                            <a asp-controller="Home" asp-action="Notification">
                                Notifications
                            </a>
                        </li>
                        <li class="pane-item">
                            <a asp-controller="Resource" asp-action="Index">
                                Resources
                            </a>
                        </li>
                        <li class="pane-item">
                            <a asp-controller="Home" asp-action="Logout">
                                Logout
                            </a>
                        </li>
                        <li class="pane-item">
                            <button onclick="toggleSide()" class="btn btn-group-toggle">
                                <span>Close</span>
                            </button>
                        </li>
                    </ul>
            </div>
            <div id="main-pane" class="main-pane">
                <header>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 mt-3">
                        <div class="container-fluid">
                            <button class="btn btn-close" id="paneToggler" onclick="toggleSide()" type="button">Menu</button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1  justify-content-end">
                                    <li class="nav-item">
                                        @{
                                            var user = Academic_Hub.Areas.Parent.Models.UserLogger.GetLoggedParent();
                                        }
                                        <span> Hi @(user.FirstName + " " + user.LastName)! </span>
                                        <a asp-controller="Home" asp-action="Profile">
                                            <span><img width="35" height="35" src="~/icons/user-icon.jpg" /></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <footer class="border-top footer text-muted">
                    <div class="container text-center">
                        &copy; 2022 - Academic_Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </div>
        </div>
        
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
